<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <h1>Relax Users</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row['id'] }}</td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['email'] }}</td>
          <td>
            <form action="/delete" method="post">
              <input type="hidden" name="id" value="{{ row['id'] }}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>